#filter-info
    width: 100%
    height: 70px
    display: flex
    align-items: center
    padding: 15px 20px
    grid-area: filter-info

    @media (min-width: 768px)
        padding: 0px

    .holder
        display: inline-flex
        align-items: center
        width: 100%
        overflow: scroll

        .filter-alias
            height: fit-content
            border: 1.5px solid #b9b9b9
            background-color: #dddddd
            padding: 4px 6px
            display: flex
            align-items: center
            border-radius: 5px
            cursor: pointer
            margin-right: 2em

            @media (min-width: 768px)
                margin-right: 1em

            .tag
                font-size: 1em
                
                font-weight: bolder
                color: #797979
                white-space: nowrap

                @media (min-width: 768px)
                    font-size: .55em

            .value 
                font-size: 1em
                color: #464646
                font-weight: bolder
                margin: 0px 10px
                white-space: nowrap

                @media (min-width: 768px)
                    font-size: .55em
                    margin: 0px 5px

                span
                    margin-right: 5px

            .close
                
                font-size: 1em
                font-weight: bolder
                color: #464646

                @media (min-width: 768px)
                    font-size: .7em

        #filter-alias_clearall
            font-weight: bolder
            color: #464646
            white-space: nowrap
            height: 80%
            font-size: .55em
            background-color: transparent
            border-bottom: 1.5px solid #464646
            cursor: pointer

    #toggle-menu
        font-family: 'icons'
        font-size: 1.2em
        padding: 7px

        // Hide the button on desktop
        @media (min-width: 768px)
            display: none

#filter-menu
    position: absolute
    left: 0
    top: 0
    width: 70%
    height: 100%
    background-color: white
    padding: 1.5em 2em
    opacity: 0
    display: none

    @media (min-width: 768px)
        position: relative
        width: 100%
        grid-area: filter-menu
        padding: 1.5em 1.5em
        opacity: 1
        display: block

    hr
        width: 100%
        height: 1px
        background-color: rgb(227, 227, 227)
        margin: 1.3em 0

    h2 
        font-size: 1.4em
        font-family: Arial, Helvetica, sans-serif
        font-weight: bold
        color: #5d5d5d

        @media (min-width: 768px)
            font-size: 1em

    ul 
        margin-top: 1.4em  
        margin-bottom: 1.4em  
        margin-left: .5em

        span
            margin-bottom: 1em
            display: block

            // Common font style
            font-family: Arial, Helvetica, sans-serif
            font-weight: bold
            color: gray

            // Mobile font style
            font-size: 1em

            // Desktop font style
            @media (min-width: 768px)
                font-size: .75em
            
        label 
            width: 100%
            height: 100%

            list-style: none
            cursor: pointer
            
            margin-bottom: .5em
            margin-left: .75em

            display: flex
            align-items: center

            input
                // Hides the default checkbox
                $inputSize: 13px
                $inputBorderWidth: 1.5px

                appearance: none
                -webkit-appearance: none
                -moz-appearance: none

                height: $inputSize
                width: $inputSize
                margin-right: .5em
                cursor: pointer

                position: relative

                // Uses this pseudo element as the checkbox
                &::before
                    content: ""
                    position: absolute
                    width: $inputSize - $inputBorderWidth * 2
                    height: $inputSize - $inputBorderWidth * 2

                    border-radius: 2px
                    border: $inputBorderWidth solid #aaaaaa
                    background: white
                
                    transition: color .2s ease-in, background-color .2s ease-in

                // When selected
                &:checked + span
                    color: #5d5d5d
                    
                &:checked::before
                    background: #5d5d5d
                    border: $inputBorderWidth solid #5d5d5d

            span
                user-select: none
                margin-bottom: 0
                
                // Common font style
                font-family: Arial, Helvetica, sans-serif
                color: #aaaaaa

                // Mobile font style
                font-size: 1em

                // Desktop font style
                @media (min-width: 768px)
                    font-size: .75em