body
    // TODO: add a min width
    width: 100vw
    height: fit-content

main 
    width: 100vw
    min-height: 75vh
    height: fit-content

    display: grid
    grid-template-columns: 18vw 82vw
    position: relative