package components

templ FiltersSuggestionsComponent(brands []string){
    for _, brand := range brands {
        <li>
            <label>
                <input type="checkbox" name="brand" value={brand} onchange="DeboucingFiltersConstUpdate(this)">
                <span class="brand-name">{brand}</span>
            </label>
        </li>
    }
}