package page_shop_frags

templ FilterMenu() {

    <div id="filter-menu">
    
        <h2>Filter Options</h2>

        <ul id="brands_filter">
            <span>Marcas</span>
            <label>
                <input type="checkbox" name="brand" value="Corona" onchange="DeboucingFiltersConstUpdate()">
                <span>Corona</span>
            </label>
            <label>
                <input type="checkbox" name="brand" value="Heineken" onchange="DeboucingFiltersConstUpdate()">
                <span>Heineken</span>
            </label>
            <label>
                <input type="checkbox" name="brand" value="Super BOCK" onchange="DeboucingFiltersConstUpdate()">
                <span>Super BOCK</span>
            </label>
            <label>
                <input type="checkbox" name="brand" value="Skol" onchange="DeboucingFiltersConstUpdate()">
                <span>Skol</span>
            </label>
            <label>
                <input type="checkbox" name="brand" value="Itaipava" onchange="DeboucingFiltersConstUpdate()">
                <span>Itaipava</span>
            </label>
            <label>
                <input type="checkbox" name="brand" value="Glacial" onchange="DeboucingFiltersConstUpdate()">
                <span>Glacial</span>
            </label>
        </ul>

        <h2>Price</h2>
    
        @priceRange()

    </div>
}