package page_shop_frags

templ FilterMenu() {

    <dialog id="filter-menu" onclick="CloseFilterMenu(event)">

        // That's to prevent the auto focus
        <div style="max-width: 0; max-height: 0; overflow: hidden;">
            <input autofocus="true" />
        </div>
    
        <h1 id="filter-group-text">Filter Options</h1>

        <span class="filter-group-title">Brands</span>
        <div id="brands_filters">

            <input type="text" id="brand-search-input" placeholder="Search a brand" oninput="DebouncBrandFilterSuggestionCall()">

            <span class="title">Suggestions</span>
            // TODO: Make it show the hotest brands
            <ul 
                id="suggestions-holder"
                hx-get="/components/filtersSuggestions"
                hx-vals="js:{brands: FILTERS.brands}"
                hx-trigger="load"
                hx-swap="innerHTML"
            >
            </ul>

            <hr/>

            <span class="title">Selecteds</span>
            <ul id="selecteds-holder">
            </ul>

        </div>

        <h2 class="filter-group-title">Price</h2>
        @priceRange()

    </dialog>
}