package page_shop_frags

templ priceRange(){
    <div id="price-range">

        <div class="range">
            <input id="min_range" type="range" value="0" min="0" max="100">
            <input id="max_range" type="range" value="100" min="0" max="100">
        </div>

        <div class="text">
            <div class="input_number">
                <span>€</span>
                <input id="min_input" type="number"></input>
            </div>

            <div class="input_number">
                <span>€</span>
                <input id="max_input" type="number"></input>
            </div>
        </div>
    </div>
}