package page_shop_frags

import "github.com/Mateus-MS/Gole-Certo/dev/backend/modules/stock/model"

templ ProdCard(prod product.ProductStock) {
    <div class="prod-card">
        <div class="container"></div>
        <div class="infos">
            <div class="holder">
                <span class="name">{prod.Name}</span>
                <span class="score">5⭐</span>
            </div>
            <div class="price">
                <span>{prod.Price.String()} €</span>
            </div>
        </div>
    </div>
}