package page_shop_frags

import "github.com/Mateus-MS/Gole-Certo/dev/backend/modules/stock/model"

templ ProdCard(prod product.ProductStock) {
    <div class="prod-card">
        <div>{prod.Name}</div>
        <div>{prod.Brand}</div>
        <div>{prod.Price.String()}</div>
    </div>
}