package page_shop

import (
    page_shop_frags "github.com/Mateus-MS/Gole-Certo/dev/frontend/pages/shop/frags"
	"github.com/Mateus-MS/Gole-Certo/dev/backend/modules/stock/model"
)

templ ShopPage(prods []product.ProductStock) {
    <!DOCTYPE html>
    <html>
    @head()
    <body>
        @page_shop_frags.Header()

        <main>
        
            <div id="filter-info"></div>

                <div id="container">

                    {{println(len(prods))}}

                    for _, prod := range prods {
                        @page_shop_frags.ProdCard(prod)
                    }

                </div>

            <div id="pagination"></div>

        </main>

        @page_shop_frags.Footer()
    </body>
    </html>
}

templ head() {
    <head>
        <base href="/frontend/src/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Gole Certo</title>

        // CSS
        <link rel="stylesheet" href="css/main.css">

        <link rel="stylesheet" href="css/shop/main.css">
        <link rel="stylesheet" href="css/shop/header.css">
        <link rel="stylesheet" href="css/shop/container.css">
        <link rel="stylesheet" href="css/shop/footer.css">
        <link rel="stylesheet" href="css/shop/prod-card.css">
    </head>
}