package page_shop

import (
    page_shop_frags "github.com/Mateus-MS/Gole-Certo/dev/frontend/pages/shop/frags"
    common_frags "github.com/Mateus-MS/Gole-Certo/dev/frontend/pages/frags"
)

templ ShopPage(pathParams string, brands []string) {
    <!DOCTYPE html>
    <html class="remove-scroll-bar">
    @head()
    <body>
        @common_frags.Header()

        <main>
        
            @page_shop_frags.FilterMenu(brands)

            <div 
                id="holder"
                hx-get={"/components/prodPage?" + pathParams}
                hx-trigger="load"
                hx-swap="outerHTML"
            ></div>

        </main>

        @common_frags.Footer()
    </body>
    </html>
}

templ head() {
    <head>
        <base href="/frontend/src/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Gole Certo</title>

        // CSS
        <link rel="stylesheet" href="css/common/header.css">
        <link rel="stylesheet" href="css/common/footer.css">

        <link rel="stylesheet" href="css/main.css">

        <link rel="stylesheet" href="css/shop/main.css">
        <link rel="stylesheet" href="css/shop/container.css">
        <link rel="stylesheet" href="css/shop/prod-card.css">
        <link rel="stylesheet" href="css/shop/filter.css">
        <link rel="stylesheet" href="css/shop/pagination.css">
        <link rel="stylesheet" href="css/shop/price-range.css">

        <script>
            const MIN_PRICE = 0.45
            const MAX_PRICE = 56.50
        </script>

        <script src="js/shop/openFilterMenu.js" defer></script>
        
        // Utils
        <script src="js/utils/debounce.js"></script>
        <script src="js/utils/utils.js"></script>

        // Filters
            // URL
            <script src="js/shop/filters/url/URL.js"></script>
            
            // Brand
            <script src="js/shop/filters/brand/BrandStateManager.js"></script>
            <script src="js/shop/filters/brand/BrandDOMManager.js"></script>
            <script src="js/shop/filters/brand/BrandManager.js"></script>

            // Price
                // Range
                <script src="js/shop/filters/price-range/PriceManager.js"></script>
                <script src="js/shop/filters/price-range/PriceDOMManager.js"></script>
                <script src="js/shop/filters/price-range/PriceStateManager.js"></script>

                // Order
                <script src="js/shop/filters/price-order/priceOrder.js"></script>

        <script src="js/shop/filters/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" defer></script>
    </head>
}