package page_register

templ RegisterPage() {
    <!DOCTYPE html>
    <html>
    @head()
    <body>
        <h1>Wecome to test page</h1>
        <p>I'm just testing</p>
    </body>
    </html>
}

templ head() {
    <head>
        <base href="/frontend/mobile/src/">
        
        <title>Gole Certo</title>
    </head>
}