name: tests

on:
  push:
    branches:
      - refactor
      - main
  pull_request:
    branches:
      - refactor
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Install dependencies
        working-directory: ./backend/internal
        run: go mod tidy

      - name: Run tests
        working-directory: ./backend/internal
        run: go test ./... -v