name: Go tests

on:
  pull_request:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Go
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      # Start services
      - name: Start services
        run: docker compose -f ./build/docker-compose.yml up -d

      # Wait for services
      - name: Wait for services
        run: |
          docker run --rm --network host jwilder/dockerize \
            -wait tcp://localhost:27017 \
            -wait tcp://localhost:6379 \
            -timeout 30s

      # Install Go module dependencies
      - name: Install dependencies
        working-directory: ./pkg
        run: go mod tidy

      # Run all tests
      - name: Run tests
        working-directory: ./pkg
        env:
          MONGO_URI: "mongodb://localhost:27017"
          REDIS_ADDR: "localhost:6379"
        run: go test ./... -v

      # Tear down services
      - name: Stop services
        run: docker compose -f ./build/docker-compose.yml down